*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #2d2d2d;
   
}


.main-login-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backcolor);
    
  }
  .back-button{
    height: 40px;
    width: 100%;
    position: absolute;
    top: 3%;
    left: 0px;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    z-index: 100;
  }
  .back-button i{

    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.4rem 0.9rem;
    border-radius: 0.3rem ;
  }
  .back-button i:active{
   transform: scale(0.95);
  }
  .back-button i:hover{
   background-color: rgba(255, 255, 255, 0.526);
  }
  .inner-main-login {
    width: 30%;
    padding:5% 3% 5% 3%;
    margin-top: 1rem;
    border-radius: 1%;
    background-color: var(--pagecolor);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.19),inset 9px 9px 50px rgba(255, 255, 255, 0.832),inset -9px -9px 50px rgba(111, 111, 111, 0.163);
  }
  .main-heading{
    text-align: center;
    margin-bottom: 1%;
    font-size: 28px;
  }
  .main-sub-heading{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20%;
  }
  .remember-forget-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
  }
.inner-main-login input[type="password"],[type="email"]{
    border: none;
    border-bottom: 0.5px solid black;
    width: 100%;
    padding: 2% 1%;
    margin-bottom: 5%;
    outline: none;
    background-color: transparent;
  }
  .submit-parant{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
  .submit-parant input{
    cursor: pointer;
  }
  .submit-parant input[type="submit"]{
    padding: 1.5% 7%;
    background-color: rgb(75, 151, 213);
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    width: 100%;
  }
  .signup-link{
    text-align: center;
    color: black;
    }
.signup-link span{
    font-weight: 600;
    color: #4B97D5;

}
.signup-link span:hover{
  text-decoration: underline;
  text-decoration-thickness:0.1rem;  
  
}

@media only screen and (max-width: 835px) {
    .inner-main-login {
        width:65%;
        padding:10% 8%;
        border-radius: 19px;
      }
}
@media only screen and (max-width: 450px) {
    .inner-main-login {
        width: 85%;
        height: 40rem;
        padding:20% 7%;
        border-radius: 24px;
        margin-top: 1rem;
      }
      input[type="password"],[type="email"]{
        margin-bottom: 10%;
      }
      .remember-forget-parent{
        margin-bottom: 10%;
      }
      input[type="submit"]{
        padding: 4% 20%;
      }
      .inner-main-login {
        background-color: var(--backcolor);
        box-shadow: none;
      }

  }
