/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #2d2d2d;
   
} */


.main-login-container{
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    min-height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--uniqcolorback); */
    background-color: #f4f7f6;
    z-index: 1001;
    position: relative;
    
  }
  
  .inner-main-login {
    width: 28%;
    padding:2.5rem;
    /* margin-top: 1rem; */
    border-radius: 0.6rem;
    /* background: var(--uniqcolorup); */
    background: #ffffff;
    /* box-shadow: var(--boxshadow); */
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .studyvault-logo img{
    height: 5rem;
    transform: translateX(-12.6%);
    user-select: none;
  }
  .main-heading{
    /* text-align: center; */
    margin: 1rem 0 0.5rem;
    font-size: 1.7rem;
    color: #333;
    font-weight: 600;

  }
  .main-sub-heading{
    font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
  }

  .remember-forget-parent{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 1.8rem;
  }


.remember-forget-parent p, .remember-forget-parent a{
  font-size: 0.9rem;
  
}
.remember-forget-parent a:hover{
  text-decoration: underline;
  text-decoration-color: #007bff;
}


 @media (max-width : 400px) {

  .inner-main-login h3{
  font-size: 1.4rem;
}
.remember-forget-parent p, .remember-forget-parent a{
  font-size: 1rem;
}
.filter-switch input::placeholder{
  color: #e2e2e2;
  font-size: 0.8rem;
}
 }

 
.inner-main-login input[type="password"],.inner-main-login input[type="email"],.inner-main-login input[type="text"]{
    border: 1px solid #ddd;
    /* border-bottom: 0.5px solid  #fff;; */
    width: 100%;
    padding: 3% 3%;
    margin-bottom: 5%;
    outline: none;
    background-color: transparent;
    color: #333;
    border-radius: 0.3rem;

  }
  .inner-main-login input[type="password"],.inner-main-login input[type="text"]{
    margin-bottom: 0;
  }
  .inner-main-login h3{
    color: #333;
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
  .submit-parant{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    
  }
  .submit-parant input{
    cursor: pointer;
  }
  .submit-parant input[type="submit"]{
    padding: 0.8rem;
    background-color: #007bff;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    width: 100%;
  }
  .signup-link{
    text-align: center;
    display: block;
    color: #666;
    font-size: 0.95rem;
    }
.signup-link span{
   
    color: #007bff;

  font-size: 0.95rem;
}
.signup-link span:hover{
  text-decoration: underline;
  text-decoration-thickness:0.1rem;  
  
}
.show-hide{
  margin-bottom: 5%;
}

.show-hide .eye-contro{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 3rem;


}
.show-hide .eye-contro i{

  color: #333;

}
.Or-separate{
  color: #666;
  font-size:01rem;
  text-align: center;
  margin: 1rem 0 1.3rem;
}

.back-to-home {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
}
.back-to-home a{
 
  color: #007bff;

  font-size: 0.9;
}

.back-to-home:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1300px) {
    .inner-main-login {
        width:43%;
        /* padding:; */
       
      }
}
@media only screen and (max-width: 835px) {
    .inner-main-login {
        width:36rem;
        padding:5%;
      }
}
@media only screen and (max-width: 535px) {
    .inner-main-login {
        width:100%;
        min-height: 100vh;
        min-height: 100svh;
        padding-top: 3rem;
      }
      .inner-main-login {
        background: transparent;
      }
      
      .main-login-container{
        /* background: var(--uniqcolorup); */
        background:#fff;
        
  
}
}
@media only screen and (max-width: 450px) {
  .main-login-container{
    height: 100svh;
  }
   
      .inner-main-login input[type="email"]{
        margin-bottom: 7%;
      }
      .show-hide{
        margin-bottom: 10%;
      }
      .remember-forget-parent{
        margin-bottom: 10%;
      }
      .submit-parant input[type="submit"]{
        padding: 4% 20%;
      }
      .inner-main-login {
        box-shadow: none;
      }
   
      

  }

 

  
  .inner-main-login input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent  inset !important; 
  box-shadow: 0 0 0px 1000px #fff inset !important; 
  color: #fff !important; 
  -webkit-text-fill-color: #333 !important;
}



.inner-main-login input:autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}
