#syllabus-component{
    min-height: 100vh;
    width: 100%;
    background: var(--newbackcolor);


}
.syllabus-component-box{
padding: 2rem 5rem;
  width: 100%;


}
#syllabus-component h1{
   font-size: 1.7rem;
   font-weight: 600;
   margin: 1rem 0 ;
   color: rgb(73, 73, 73);
   text-transform: uppercase;
   font-style:italic
   

}
#syllabus-component p{
   font-size: 1rem;
   
   font-style:italic
}
.syllabus-commout-out-box{
    width: 100%;
    margin: 3rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 30rem;
    
   

}


.syllabu-left-box{
width: 50%;
/* height: 100%; */
   

}

.syllabus-common-box ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
   margin: 1rem 0;
    
}
.syllabus-common-box h2 {
font-size: 1.4rem;
text-transform: uppercase;
font-weight: 600;
color: rgb(73, 73, 73);
font-style:italic
    
}
.syllabus-common-box h2:nth-child(3){
margin-top: 5rem ;

    
}
.syllabus-common-box p{
margin: 1rem 0 2rem ;
    
}
.syllabu-left-box ul li{
    flex-basis: 100px;
    font-size: 1.1rem;
    font-weight: 500;
    flex-grow: 1;
    background: white ;
    padding: 2rem 3rem;
    display: inline-block;
    border-radius:0.4rem;
   
    box-shadow: var(--newshadow2);
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    transition: all 0.2s linear;
}

.ug-pg-syllabus-button {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    transition: all 0.2s linear;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius:0.4rem;
    text-transform: uppercase;
    box-shadow: var(--newshadow2);
    font-weight: 600;
    background-color: white ;
    margin: 0;
    background: var(--newcolor);
    /* background: linear-gradient(to right , rgb(0, 145, 255) ,#0e0600); */
    color: #fff;
    transform:scale(0);
    opacity: 0;
   
}
.ug-btn-reposition{
    transform:scale(1);
    opacity: 1;
    margin: 4rem 0;
    padding: 1.5rem 3rem;
}
.pg-btn-reposition{
    transform:scale(1) ;
    opacity: 1;
    margin: 4rem 0;
    padding: 1.5rem 3rem;
}

.syllabus-btn-true{
    background: var(--newcolor) !important;
    color: #fff;
    flex-grow: 2 !important;
}
.syllabus-btn-true-pg{
    background: var(--newcolor) !important;
    color: #fff;
    flex-grow: 2 !important;
}

.syllabu-right-box{
    width: 45%;
    margin-left: 2rem;
    background-color: white;
    box-shadow: 9px 9px 10px #bdc2c6a1;
    border-radius: 1rem;
    transition: all 0.2s ease;
    padding: 1rem 1rem;
}
.syllabu-right-box:hover{
    /* flex-grow: 1; */
    box-shadow: 16px 15px 20px #bdc2c69c;
   
}
.prepare-summary{
    margin: 1rem 0rem 1rem 1rem;
}
.prepare-summary .prepare-detail{
 border-radius: 0.2rem;

}
.prepare-summary  .prepare-detail-summary{
    font-weight: 600;
    font-style:italic;
    border-radius: 0.2rem;
     padding: 1rem 1rem ;
   background-color: var(--newheadcolor);
   user-select: none;
   transition: all 0.2s ease;
 
}
.prepare-detail-summary-box{
    padding: 01rem 0rem 0.4rem 0.3rem;
}
.prepare-detail-summary-box h3{
    font-size: 1.02rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
}
.prepare-detail-summary-box h4{
    font-size: 1.01rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.prepare-detail-summary-box summary{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 01.6rem;
}
.prepare-detail-summary-box  details ul {
    margin-bottom: 4rem ;
    border-radius:0.4rem;
    box-shadow: var(--newshadow2);
    background-color: white ;
   padding: 1rem 0.4rem 1rem 1.5rem;
   
}
.prepare-detail-summary-box  details ul li{
    font-size: 0.9rem !important;
    margin-bottom: 0.2rem ;
    list-style: disc;
 
}
.syllabus-loading{
    background-color: lightblue;
}



@media (min-width : 473px) {
    .syllabu-left-box ul li:hover{
        background: var(--newcolor);
        color: #fff;
        flex-grow: 2;
     }
}
@media (max-width : 673px) {
    .syllabus-component-box{
          padding: 2rem 3rem;
          width: 100%;
        
        }
        .syllabu-left-box{
         width: 70%;
        }
        .syllabu-right-box{
            width: 100%;
            margin-left: 0rem;
            background-color: initial;
            box-shadow: none;
            padding: 0;
        }
        .syllabu-right-box:hover{
            box-shadow: none;
        }
        .prepare-summary{
            margin: 1rem 0rem 1rem 0rem;
        }
       
}
@media (max-width : 473px) {
    .syllabus-component-box{
        padding: 2rem 2rem;
          width: 100%;
        
        }
        .syllabu-left-box{
         width: 100%;
        }
}

