/* Keyframes for fade-in and slide-in animation */
@keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(-100%) scale(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  /* Animation when alert box is visible */
  #alart-box {
    animation: fadeSlideIn 0.5s ease-in-out;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.199),inset -10px -10px 30px #fff;
    background-color: #fff;
      z-index: 100000000000000000;

  }
  #alart-box p {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  #alart-box p img{
    height: 2rem;
    padding: 0 0.5rem 0 0;
    
  }
 