.navbar{
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index:50;
    padding: 0px 2rem;
    font-size: 1.5rem;
    backdrop-filter: blur(80px);
    transition: all 0.15s linear;
}
.navber-box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-switch {
  width: 43%;
 
}

.filter-switch input{
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  background: transparent;
  backdrop-filter: blur(50px);
  border: 1px solid #e3e3e3;
  color:#e3e3e3 ;
  outline: none;
  border-radius: 3rem;
  font-size: 1rem;

}
.filter-switch input::placeholder{
  color: #e3e3e3;
  font-size: 0.9rem;

}

.hambargar i{
    cursor: pointer;
    filter: invert(100%);

    
}

.nav-list ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.navbar a {
  border-radius: 0.2rem;
   
}
.navbar a li{
    font-size: 1rem;
    padding: 0.4rem 1rem;
   
}
/* .web-logo h2{
    color: #fff;
} */
.navbar a li {
    color:#e3e3e3;
}


.navbar .nav-list a li:hover{
    color: rgb(184, 184, 184);
}
.navbar a:active{
    transform: scale(0.95);
}
.log-in a li{
    border: 0.16rem solid #e3e3e3;
    border-radius: 0.16rem;
    font-weight: 600;
}
.log-in a li:active{
    transform: scale(0.99);
}
.red{
  /* background-color: #80859391; */
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-color: #ffffff;
}
.log-in a{
  color: #fff;
}
.log-in a{
  display: block;
}




.home-nav{
   background: linear-gradient(20deg, #241856, lightseagreen);
    backdrop-filter: blur(90px);
}
.black-nav{
   background: #000;
}
.profile-nav{
  background: linear-gradient(20deg, #241856, lightseagreen);
}

.profile-nav a li:hover{
  color: #b8b8b8;
}
.contact-nav{
  background: linear-gradient(20deg, #241856, lightseagreen);
}
.about-nav{
  background: linear-gradient(20deg, #241856, lightseagreen);
}
.login-nav{
  background: linear-gradient(20deg, #241856, lightseagreen);
}

.login-nav a li:hover{
  color: #b8b8b8;
}



.slidebar{
    min-height: 100vh;
    width: 40vw;
    position: fixed;
    left: -100%;
    top: 0%;
    background-color: rgba(255, 255, 255, 0.412);
    z-index:100;
    padding:0.2rem 2rem;
    backdrop-filter: blur(80px);
    overflow: hidden;
  
  }
  .cross-icon{
    text-align: end;
  }
  .cross-icon i{
    cursor: pointer;
  }
  .slidebar-box{
    margin-top: 1rem;
  }
  .cross-icon i{
    font-size: 1.6rem;
    filter: invert(5%);
  
  }
  .slidebar h4{
    padding: 1rem 0;
  }
  .slidebar h4 i{
    transform: translate(-50%,-5%);
    filter: invert(0%);
  
  }
  /* .slidebar h4 a{
    font-size: 2.1rem;
  
  } */
  .copywrite{
    margin: 30px 0;
      
  }
  .copywrite p{
   font-size: 0.7rem;
   letter-spacing: 0.03rem;
   font-weight: 300;
  }
  .copywrite p:last-child{
  color: rgb(0, 56, 79);
  }
  
  .slidebar-foot-item{
    position: absolute;
    bottom: 1%;
    right: 5%;
    width: 100%;
  
  }
  .slidebar-foot-item p{
    text-align: end;
    font-size: 0.8rem;
    font-weight: 600;
  
  }
  .glitchproblem{
    height: 10vw;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }


  @media (min-width : 765px) {
    .hambargar{
      display: none;
    }
    .slidebar{
      display: none;
    }
  
  }
  @media (max-width : 764px) {
    .hambargar{
      display: block;
    }
    .nav-list{
      display: none;
    }
    .cross-icon{
      margin-top: 2rem;
   }
   .filter-switch {
    width: 55%;
  }
   .filter-switch input::placeholder{
    font-size: 0.8rem;
  }
  }
  @media (max-width : 454px) {
    .slidebar{
        width: 55vw;
      }
     .cross-icon{
        margin-top: 2rem;
     }
  }