.main-container{
  background-color: rgba(225, 218, 218, 0.627);
}
.inner-main-container h2 {
  height: 100%;
  margin-bottom:3%;
  position: relative;
}

.landing-section{
 padding: 7.7rem 5% 3%;
 padding-bottom: 0%;
}
.inner-landing{
  border-radius:19px;
  display: flex;
  padding:2% 5% 5% 3%;
  justify-content: space-between;
}
.home-info{
  width: 60%;
  /* border: 2px solid rebeccapurple; */
}
.home-info h1{
  font-size: 40px;
  margin-bottom: 1%;
  font-weight: 700;
  color: rgb(10, 55, 88);
  text-shadow: 1px 1px 2px  black;
}
.home-info h2{
  font-size: 28px;
  font-weight: 700;
  color: rgb(10, 55, 88);
  text-shadow: 0.5px 0.5px 1px  black;
  margin-bottom: 2%;
  letter-spacing:2px;
}
.home-info p{
  color: gray;
  line-height: 18px;
  letter-spacing: 1px;
  font-size: 12px;
  margin-bottom: 5%;
  font-weight: none;
}
.live-count{
  display: flex;
  margin-bottom: 4%;
  gap: 5%;
}
.counts{
  text-align: center;
  line-height: 22px;
}
.counts p{
  font-size: 10px;
}
.counts h3{
  font-size:18px;
  font-weight: 700;
  color: rgb(10, 55, 88);
  text-shadow: 0.5px 0.5px 1px 1px  black;
}
.home-image-section {
  padding: 0% 5%;
  width: 30%;
  position: relative;
  /* border: 1px solid red; */
}

.background-image{
  background:linear-gradient(to right, rgb(21, 113, 121),rgb(75, 75, 156));
  border-radius:  45% 45% 0% 0%;
  height: 100%;
  width: 100%;
  position: relative; 
  border: 1px solid green;
}
.background-image img {
  width: 100%;
  height: 100%;
  position: absolute; /* Absolute positioning for centering */
  left:5%;
  object-fit: cover;
  transition: all 0.5s ease;
}
.buttons-home{
  display: flex;
  align-items: center;
  gap:5%;
  margin-bottom: 5%;
}
.buttons-home button{
  background-color: rgb(18, 134, 124);
  color: white;
  border: none;
  outline: none;
  padding:0.8rem 2rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

}
.buttons-home button:hover{
transform: scale(0.94);
background-color: rgb(0, 157, 255);
}
.buttons-home a{
  font-size:14px;
  font-weight: 700;
  color: rgb(10, 55, 88);
  text-shadow: 0.5px 0.5px 1px 1px  black;
  transition: all 0.2s ease-in-out;
}
.buttons-home a:hover{
  transform: translateX(10%);
}
.overfolw-box{
  background-color: white;
  box-shadow: 0.5px 0.5px 10px 2px rgba(128, 128, 128, 0.531) ;
  padding: 2% 5%;
  white-space: nowrap;
  border-radius: 4px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5%;
}
.overfolw-box h2{
  font-size:10px;
}
.overfolw-box p{
  font-size: 8px;
}
.box-one {
  top: 10%;
  left: 20%;
  z-index: 2;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}
.overfolw-box i{
  color: rgb(233, 122, 3);
  font-size: 20px;
}
.box-two {
  top: 50%;
  right: -5%;
  z-index: 2;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
}
.box-three {
  bottom: 10%;
  left: 0;
  z-index: 2;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;

}
.box-one:hover {
  transform: translateX(-50%) scale(1.2); /* Increase size on hover */
  
}
.box-two:hover {
  transform: translateY(-50%) scale(1.2); /* Increase size on hover */

}
.box-three:hover {
  transform: scale(1.2); /* Increase size on hover */
}
/* ----------------------------- */

.department-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  transition: all 0.05s ease-in-out;
  gap: 2rem;
  overflow-y: hidden;
  
}

.department{
 flex-grow: 3;
 flex-basis: 2;
 margin: 0.8rem 0rem;
 width: 25%;
}
.department-title-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.4rem 0;
}
.department-title-box h2{
  font-size: 2.3rem;
  font-weight: 500;
}
.department-title-box button{
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  appearance:none;
  background-color: #07857a;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 1rem;

}
.department-title-box button i{
   margin: 0rem 0 0 0.5rem;
   filter: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
   font-size: 1.1rem;

}
.department p{
 
  padding:1.7rem 1.5rem ;
  border: 2px solid gray;
  /* width: 30%; */
  display: block;
  border-radius: 0.9rem;
  cursor: pointer;
  
}

.department:active {
    background-color: rgb(214, 214, 214);
}
.content-container {
  padding:4% 5%;
  background-color: var(--backcolor);
}



/* ------------------------------------------------------------footer css-------------------------------------------------------------------------------- */

footer{
  background-color: rgb(13, 13, 14);
color: rgb(200, 195, 195);
width: 100%;
padding:6%;
}
footer a{
  color: rgb(200, 195, 195);
  font-size: 12px;
}
.second-footer-section h3{
  color: rgb(41, 165, 207);
}

.first-footer-section{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2% 0%;

}
.first-footer-section h3{
  color: #fff;

}
.first-footer-section form{
  display: flex;
  width: 30%;
  
}
.first-footer-section form input:last-child{
  cursor: pointer;
  font-size: 1.1rem;
  
}
.first-footer-section input[type="text"]{
  border: 2px solid  rgb(41, 165, 207) ;
  background-color: rgb(46, 44, 44);
  padding: 3% 7%;
  margin-right: 5%;
  outline: none;
  color: #e0e0e0;
  border-radius: 4px;
  font-size: 0.8rem;
  
}
.first-footer-section input[type="submit"]{
  background-color:  rgb(41, 165, 207) ;
  color: black;
  padding: 3% 7%;
  border: none;
  border-radius: 4px;
}
.second-footer-section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3% 0%;
}

.third-footer-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5% 0%;
}
.third-footer-section p{
  font-size: 12px;
  color:#fff;
}
.third-footer-section h4{
  color:#fff;
}
.footer-comany-logo{
  width: 40px;
  height: 40px;
  background-color: rgb(49, 161, 192);
  border-radius: 50%;

}
.apple-store-box,.play-store-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 5%;
  border: 1px solid gray;
  background-color: rgb(11, 11, 11) ;
  border-radius: 9px;

}
.apple-store-box input[type="image"],.play-store-box input[type="image"]{
  width: 20px;
  height: 20px;
  margin: 0 1rem 0 0;
}
.sosial-media-link{
  display: flex; 
  gap: 3%;
}
.social-media-icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}
.forth-footer-section{
  display: flex;

  align-items: center;
  padding: 5% 0%;
  font-size: 12px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.forth-footer-section p{
  color: #fff;
}
.forth-footer-section li{
  color: #fff;
}
.forth-footer-section div{
  display: flex;
  gap: 10%;

  width: 50%;
}
.forth-footer-section ul{

  display: flex;
  width: 40%;
}
.forth-footer-section ul li{
  margin-right: 20%;
}
@media only screen and (max-width: 1370px){
  .home-image-section{
    padding:0% 2%;
    width: 30%;
    transition:all 1s ease-in-out;
   }
}
@media only screen and (max-width: 1140px){
  html{
    font-size: 80%;
  }
  .home-image-section{
    padding: 0%;
    width: 30%;
    transition:all 1s ease-in-out;
   }
}




@media only screen and (max-width: 985px){
  html{
    font-size: 70%;
  }
  .slidebar{
    width: 50vw;
  }
  .first-footer-section{
    justify-content: space-around;
   
  }
  .box-one {
    top: 5%;
    transition:all 1s ease-in-out;
  }
  .box-two {
    right: -25%;
    transition:all 1s ease-in-out;
  }
  .box-three {
    left: -20%;
    transition:all 1s ease-in-out;
  }
  html{
    font-size: 75%;
    transition:all 1s ease-in-out;
  }
}
@media only screen and (max-width: 835px){
  .department p{
    font-size: 10px;
  }
  .main-header {
    width: 100vw;
    height:52vw ;
    position: relative;
    left: 0;
    background: linear-gradient(rgb(0, 0, 0), rgb(55, 193, 205));
    padding-top: 5%;
  }
  .department-logo{
    height: 110px;
    width: 110px;
    margin-top: -8%;
  }
  .first-footer-section{
   padding:10% 0%;
  }
  .first-footer-section input[type="text"],.first-footer-section input[type="submit"]{
    margin-top: 10%;
    display: none;
  }
  .second-footer-section ul{
    margin: 5% 4%;
  }
  .apple-store-box,.play-store-box,.sosial-media-link,.third-footer-section p,.footer-comany-logo{
    margin-top: 10%;

  }
  html{
    font-size: 75%;
  }
  .home-image-section{
    width: 40%;
    position: relative;
  }
  .background-image img{
    height: 90%;
    bottom: 0px;
  }
  .home-info{
    width: 50%;
    /* border: 2px solid rebeccapurple; */
  }

}
@media only screen and (max-width: 695px){
  html{
    font-size: 70%;
  }
  .first-footer-section{
    justify-content: space-evenly;
   
  }
  .home-image-section{
    width: 45%;
    position: relative;
  }
  .background-image img{
    height: 80%;
    bottom: 0px;
  }
  .background-image{
    height: 80%;
  }
  .box-three{
    bottom:20%;
  }
}
@media only screen and (max-width: 519px){
  html{
    font-size: 70%;
  }
  .first-footer-section{
    justify-content: center;
   
  }
  .home-info{
    width: 100%;
    margin-top: 5%;
  }
  .inner-landing{
    flex-direction: column;
    justify-content: center;
  }
  .inner-landing{
    padding:2%;
  }
  .home-image-section {
    height: 400px;
    width: 100%;
    /* display: none; */
  }
  
  .background-image{
    height: 100%;
  }
  .background-image img{
    height: 100%;
    bottom: 0px;
  }
  .box-two {
   right:-5%;
  }
  .box-three{
    left: -5%;
  }
  .landing-section {
    padding: 5.6rem 5% 3%;
  }
}
@media only screen and (max-width: 460px){
  html{
    font-size: 65%;
  }
  .department-list{
    display:block;
  }
  .department {
    
    padding: 0.1rem 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
  }
  .department a{
    
    border-radius: 9px;
    padding: 1.3rem 1rem;

  }
  .forth-footer-section ul{
    width: 100%;
  }
  .forth-footer-section ul li{
    margin-right: 30%;
    margin-bottom: 5%;
  
  }
  .forth-footer-section div{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  .forth-footer-section div p{
    margin-bottom: 5%;
  }
  
  .department-title-box h2{
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 376px){
  html{
    font-size: 50%;
  }
  .department-title-box h2{
    font-size: 1.3rem;
  }
}