.main-container{
  background-color: #ececec;
}
.inner-main-container h2 {
  height: 100%;
  margin-bottom: 7%;
  position: relative;
}
.main-header {
  width: 100%;
  height:30vw ;
  position: relative;
  left: 0;
  background: linear-gradient(rgb(0, 0, 0), rgb(55, 193, 205));
  padding-top: 5%;
  box-shadow: 0px 9px 40px rgba(0, 0, 0, 0.148);
  
}
.header {
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  padding: 0 0 0 0.9rem;
 
}

.header i{
  filter: invert(100%);
  font-size: 1.5rem;
  cursor: pointer;
}


.department-logo{
  height: 180px;
  width: 180px;
  background:linear-gradient(rgb(0, 0, 0), rgb(7, 240, 244)) ;
  border-radius: 50%;
  position:absolute;
  right: 10%;
  margin-top: -5%;
}
.header-title {
  color: white;
  margin-top: -10%;
  margin-bottom: 1%;
  font-size: 26px;
  text-align: center;

}
.header-subtitle {
  color: white;
  text-align: center;
  font-size: 10px;
  letter-spacing: 8px;
  z-index: 10;
  position: relative;
}
.filter-switch {
  display: flex;
  align-items: center;
  width: 80%;
  border: 1px solid gray;
  border-radius: 37px;
  padding: 0% 4%;
  font-weight: 700;
  font-size: 14px;
}

.filter-switch input[type="text"]{
width: 100%;
height: 100%;
background-color: transparent;
outline: none;
border: none;
position: relative;
padding: 1.6% 0%;
z-index: 10;
color: #fff;
}


.department-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  max-height:96vh ;
  width: 100%;
  overflow : hidden;

  
}
.department{
 flex-grow: 3;
 flex-basis: 2;
 margin: 0.8rem 0rem;
 width: 100%;
}
.department p{
 
  padding:1.7rem 1.5rem ;
  border: 2px solid gray;
  width: 100%;
  display: block;
  border-radius: 0.9rem;
  cursor: pointer;
}

.department:active {
    background-color: rgb(214, 214, 214);
}
.content-container {
  padding: 5%;
  background-color: var(--backcolor);
}

footer{
  background-color: rgb(13, 13, 14);
color: rgb(200, 195, 195);
width: 100%;
padding:6%;
}
footer a{
  color: rgb(200, 195, 195);
  font-size: 12px;
}
.second-footer-section h3{
  color: rgb(41, 165, 207);
}

.first-footer-section{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2% 0%;

}
.first-footer-section h3{
  color: #fff;

}
.first-footer-section form{
  display: flex;
  width: 30%;
  
}
.first-footer-section form input:last-child{
  cursor: pointer;
  font-size: 1.1rem;
  
}
.first-footer-section input[type="text"]{
  border: 2px solid  rgb(41, 165, 207) ;
  background-color: rgb(46, 44, 44);
  padding: 3% 7%;
  margin-right: 5%;
  outline: none;
  color: #e0e0e0;
  border-radius: 4px;
  font-size: 0.8rem;
  
}
.first-footer-section input[type="submit"]{
  background-color:  rgb(41, 165, 207) ;
  color: black;
  padding: 3% 7%;
  border: none;
  border-radius: 4px;
}
.second-footer-section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3% 0%;
}

.third-footer-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5% 0%;
}
.third-footer-section p{
  font-size: 12px;
  color:#fff;
}
.third-footer-section h4{
  color:#fff;
}
.footer-comany-logo{
  width: 40px;
  height: 40px;
  background-color: rgb(49, 161, 192);
  border-radius: 50%;

}
.apple-store-box,.play-store-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 5%;
  border: 1px solid gray;
  background-color: rgb(11, 11, 11) ;
  border-radius: 9px;

}
.apple-store-box input[type="image"],.play-store-box input[type="image"]{
  width: 20px;
  height: 20px;
}
.sosial-media-link{
  display: flex; 
  gap: 3%;
}
.social-media-icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}
.forth-footer-section{
  display: flex;

  align-items: center;
  padding: 5% 0%;
  font-size: 12px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.forth-footer-section p{
  color: #fff;
}
.forth-footer-section li{
  color: #fff;
}
.forth-footer-section div{
  display: flex;
  gap: 10%;

  width: 50%;
}
.forth-footer-section ul{

  display: flex;
  width: 40%;
}
.forth-footer-section ul li{
  margin-right: 20%;
}

@media only screen and (max-width: 1140px){
  html{
    font-size: 80%;
  }
}



@media only screen and (max-width: 835px){
  .department p{
    font-size: 10px;
  }
  .main-header {
    width: 100vw;
    height:52vw ;
    position: relative;
    left: 0;
    background: linear-gradient(rgb(0, 0, 0), rgb(55, 193, 205));
    padding-top: 5%;
  }
  .department-logo{
    height: 110px;
    width: 110px;
    margin-top: -8%;
  }
  .first-footer-section{
   padding:10% 0%;
  }
  .first-footer-section input[type="text"],input[type="submit"]{
    margin-top: 10%;
  }
  .second-footer-section ul{
    margin: 5% 4%;
  }
  .apple-store-box,.play-store-box,.sosial-media-link,.third-footer-section p,.footer-comany-logo{
    margin-top: 10%;

  }
  html{
    font-size: 50%;
  }
}



@media only screen and (max-width: 985px){
  html{
    font-size: 70%;
  }
  .slidebar{
    width: 50vw;
  }
  .first-footer-section{
    justify-content: space-around;
   
  }
}
@media only screen and (max-width: 985px){
  html{
    font-size: 75%;
  }
  
}
@media only screen and (max-width: 695px){
  html{
    font-size: 70%;
  }
  .first-footer-section{
    justify-content: space-evenly;
   
  }
}
@media only screen and (max-width: 519px){
  html{
    font-size: 65%;
  }
  .first-footer-section{
    justify-content: center;
   
  }

}
@media only screen and (max-width: 435px){
  html{
    font-size: 40%;
  }
}
@media only screen and (max-width: 435px){
  .department-list{
    display:block;
  }
  .department {
    
    padding: 0.1rem 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
  }
  .department a{
    
    border-radius: 9px;
    padding: 1.3rem 1rem;

  }
  .department-logo{
    height: 80px;
    width: 80px;
    margin-top: -8%;
  }
  .forth-footer-section ul{
    width: 100%;
  }
  .forth-footer-section ul li{
    margin-right: 30%;
    margin-bottom: 5%;
  }
  .forth-footer-section div{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  .forth-footer-section div p{
    margin-bottom: 5%;
  }
  .filter-switch input[type="text"]{
    padding: 1rem 0.5rem;
  }

}
@media only screen and (max-width: 376px){
  html{
    font-size: 30%;
  }
  .department-logo{
    height: 7rem;
    width: 7rem;
  }
  
}