.main-container{ 
  background: var(--backcolor);

  
 } 
.inner-main-container h2 {
  height: 100%;
  margin-bottom: 3%;

  position: relative;
}

.landing-section {
  padding: 7.7rem 5% 3%;
  padding-bottom: 0%;
  background: var(  --home-linear-back);
  /* box-shadow: 0 54px 80px #3a7dab21, 0 22.5599px 33.4221px #3a7dab18,
    0 12.0616px 17.869px #3a7dab14, 0 6.76164px 10.0172px #3a7dab11,
    0 3.59106px 5.32008px #3a7dab0d, 0 1.49432px 2.21381px #3a7dab09; */
}
.inner-landing {
  border-radius: 19px;
  display: flex;
  padding: 2% 5% 5% 3%;
  justify-content: space-between;
}
.home-info {
  width: 60%;
  /* border: 2px solid rebeccapurple; */
}
.home-info-h1-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.h1-box {
  position: absolute;
  right: 0%;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: #d4e3e686;
}

.h1-box img {
  aspect-ratio: 1;

  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rotate 8s linear infinite ;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(0.8);
  }
}
.home-info h1:nth-child(2) {
  font-size: 40px;
  margin-bottom: 1%;
  font-weight: 700;
  /* color: rgb(10, 55, 88); */
  color: var(--about-text-color);
  text-shadow: 1px 1px 2px black;
}
.home-info .header-sub-head{
  font-size: 1.6rem  !important;
  font-weight: 700;
  /* color: rgb(10, 55, 88); */
  color: var(--about-text-color);
  text-shadow: 0.5px 0.5px 1px black !important;
  margin-bottom: 2% !important;
  letter-spacing: 2px !important;
}
.home-info p {
  /* color: gray; */
  color: var(--homep-text-color);
  line-height: 18px;
  letter-spacing: 1px;
  font-size: 12px;
  margin-bottom: 5%;
  font-weight: none;
}
.live-count {
  display: flex;
  margin-bottom: 4%;
  gap: 5%;
}
.counts {
  text-align: center;
  line-height: 22px;
}
.counts p {
  font-size: 10px;
}
.counts h3 {
  font-size: 18px;
  font-weight: 700;
  /* color: rgb(10, 55, 88); */
  color: var(--about-text-color);
  text-shadow: 0.5px 0.5px 1px 1px black;
}
.home-image-section {
  padding: 0% 5%;
  width: 30%;
  position: relative;
  /* border: 1px solid red; */
}

.background-image {
  background: linear-gradient(74deg, rgb(247 247 247), rgb(76 155 166));
  border-radius: 45% 45% 0% 0%;
  height: 100%;
  width: 100%;
  position: relative;
  /* border: 1px solid green; */
}
.background-image img {
  width: 100%;
  height: 100%;
  position: absolute; /* Absolute positioning for centering */
  left: 5%;
  object-fit: cover;
  transition: all 0.5s ease;
  filter: saturate(0.85);
}
.buttons-home {
  display: flex;
  align-items: center;
  gap: 5%;
  margin-bottom: 5%;
}
.buttons-home button {
  background-color: rgb(0 133 161);
  color: white;
  border: none;
  outline: none;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.buttons-home button:hover {
  transform: scale(0.94);
  background-color: rgb(0, 157, 255);
}
.buttons-home a {
  font-size: 14px;
  font-weight: 700;
  /* color: rgb(10, 55, 88); */
  color: var(--about-text-color);
  text-shadow: 0.5px 0.5px 1px 1px black;
  transition: all 0.2s ease-in-out;
}
.buttons-home i {
  color: var(--about-text-color);
  margin: 0 0 0 0.5rem;
}
.buttons-home a:hover {
  transform: translateX(10%);
}
.overfolw-box {
  background-color: white;
  box-shadow: 0.5px 0.5px 10px 2px rgba(128, 128, 128, 0.531);
  padding: 2% 5%;
  white-space: nowrap;
  border-radius: 4px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5%;
}
.overfolw-box h2 {
  font-size: 10px;
}
.overfolw-box p {
  font-size: 8px;
}
.box-one {
  top: 10%;
  left: 20%;
  z-index: 2;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}
.overfolw-box i {
  color: rgb(233, 122, 3);
  font-size: 20px;
}
.box-two {
  top: 50%;
  right: -5%;
  z-index: 2;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
}
.box-three {
  bottom: 10%;
  left: 0;
  z-index: 2;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
}
.box-one:hover {
  transform: translateX(-50%) scale(1.2); /* Increase size on hover */
}
.box-two:hover {
  transform: translateY(-50%) scale(1.2); /* Increase size on hover */
}
.box-three:hover {
  transform: scale(1.2); /* Increase size on hover */
}
/* ----------------------------- */

.department-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  transition: all 0.05s ease-in-out;
  gap: 2rem;
  overflow-y: hidden;
}

.department {
  flex-grow: 3;
  flex-basis: 2;
  margin: 0.8rem 0rem;
  width: 25%;
}
.department-title-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.4rem 0;
}
.department-title-box h2 {
  font-size: 2.3rem;
  font-weight: 500;
  color: var(--black-text-color);
}
.department-title-box button {
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  appearance: none;
  background: var(--sectionS-b-h);
  color: var(--text-color);
  border-radius: 0.4rem;
  font-size: 1rem;
}
.department-title-box button i {
  margin: 0rem 0 0 0.5rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(13%)
    hue-rotate(237deg) brightness(104%) contrast(104%);
  font-size: 1.1rem;
}
.department p {
  padding: 1.7rem 1.5rem;
  border: 2px solid gray;
  /* width: 30%; */
  color: var(--black-text-color);
  display: block;
  border-radius: 0.9rem;
  cursor: pointer;
}

.department:active {
  background: var(--dpt-hover-back);
}
.content-container {
  padding: 1% 5% 2%;
  /* background-color: var(--backcolor); */
}

/* ------------------------------------------------------------footer css-------------------------------------------------------------------------------- */

.body-footer {
  background-color: rgb(9 21 42);
  color: rgb(200, 195, 195);
  width: 100%;
  padding: 3%  6%;
}
footer a {
  color: rgb(200, 195, 195);
  font-size: 12px;
}
.second-footer-section h3 {
  color: rgb(41, 165, 207);
}



.second-footer-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3% 0%;
}
.second-footer-section h3{
font-size: 1.3rem;
}

.second-footer-section ul {
  /* width: 25%; */
  flex-grow: 1;
  flex-basis: 100px;
}
.second-footer-section ul p ,.second-footer-section ul a{
  font-size: 0.8rem;
  color: rgb(200, 195, 195);
  line-height: 1.7rem;
}
.second-footer-section ul:nth-child(2) a{
  cursor:auto;
  
}
.second-footer-section ul:nth-child(3) a{
  cursor:auto;
  
}
.second-footer-section ul:nth-child(4){
  text-wrap: wrap;
}
.second-footer-section ul:nth-child(4) h4{
  color: #fff;
  margin: 0.5rem 0;
}


.sosial-media-link {
  display: flex;
  gap: 5%;
  
}
.social-media-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0.3rem 0 0 0;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-icon i {
  font-size: 1rem;
  color: #d6d5d8;
}

.finalFooter {
  width: 100%;
  height: 5rem;
  background-color: #142643;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem;
}
.lastfooter-left {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.lastfooter-left a {
  margin: 0rem 1.5rem 0 0;
  font-size: 0.7rem;
  color: #fff;
}
.lastfooter-rigth {
  flex-grow: 1;
}
.lastfooter-right p {
  color: #fff;
  font-size: 0.7rem;
}
@media only screen and (max-width: 1370px) {
  .home-image-section {
    padding: 0% 2%;
    width: 30%;
    transition: all 1s ease-in-out;
  }
}
@media only screen and (max-width: 1140px) {
  html {
    font-size: 80%;
  }
  .home-image-section {
    padding: 0%;
    width: 30%;
    transition: all 1s ease-in-out;
  }
}

@media only screen and (max-width: 985px) {
  html {
    font-size: 70%;
  }
  .slidebar {
    width: 100vw;
  }
  .first-footer-section {
    justify-content: space-around;
  }
  .box-one {
    top: 5%;
    transition: all 1s ease-in-out;
  }
  .box-two {
    right: -25%;
    transition: all 1s ease-in-out;
  }
  .box-three {
    left: -20%;
    transition: all 1s ease-in-out;
  }
  html {
    font-size: 75%;
    transition: all 1s ease-in-out;
  }
}
@media only screen and (max-width: 835px) {
  .department p {
    font-size: 10px;
  }
  .main-header {
    width: 100vw;
    height: 52vw;
    position: relative;
    left: 0;
    background: linear-gradient(rgb(0, 0, 0), rgb(55, 193, 205));
    padding-top: 5%;
  }
  .department-logo {
    height: 110px;
    width: 110px;
    margin-top: -8%;
  }
  .first-footer-section {
    padding: 10% 0%;
  }
  .first-footer-section input[type="text"],
  .first-footer-section input[type="submit"] {
    margin-top: 10%;
    display: none;
  }
  .second-footer-section ul {
    margin: 5% 4%;
  }
  .apple-store-box,
  .play-store-box,
  .sosial-media-link,
  .footer-comany-logo {
    margin-top: 10%;
  }
  .third-footer-section p {
    padding: 0.3rem 0;
  }
  html {
    font-size: 75%;
  }
  .home-image-section {
    width: 40%;
    position: relative;
  }
  .background-image img {
    height: 90%;
    bottom: 0px;
  }
  .home-info {
    width: 50%;
    /* border: 2px solid rebeccapurple; */
  }
}
@media only screen and (max-width: 695px) {
  html {
    font-size: 75%;
  }
  .first-footer-section {
    justify-content: space-evenly;
  }
  .home-image-section {
    width: 45%;
    position: relative;
  }
  .background-image img {
    height: 80%;
    bottom: 0px;
  }
  .background-image {
    height: 80%;
  }
  .box-three {
    bottom: 20%;
  }
  .finalFooter {
    padding: 0rem 1rem;
  }
  /* .lastfooter-left a:nth-child(1),.lastfooter-left a:nth-child(2){
    display: none;
  } */
  .finalFooter {
   
   flex-direction: row-reverse;
  }
  .finalFooter .lastfooter-left{
   text-align: center;
  }
  .body-footer{
    padding: 6% 0.4rem;
  }
  .lastfooter-right{
    display: none;
  }
  .lastfooter-left {
  
    justify-content: space-between;
  
  }
}
@media only screen and (max-width: 519px) {
  html {
    font-size: 75%;
  }
  .first-footer-section {
    justify-content: center;
  }
  .home-info {
    width: 100%;
    margin-top: 5%;
  }
  .inner-landing {
    flex-direction: column;
    justify-content: center;
  }
  .inner-landing {
    padding: 2%;
    margin-top: 7.5rem;
  }
  .home-image-section {
    height: 400px;
    width: 100%;
    display: none;
  }

  .background-image {
    height: 100%;
  }
  .background-image img {
    height: 100%;
    bottom: 0px;
  }
  .box-two {
    right: -5%;
  }
  .box-three {
    left: -5%;
  }
  .landing-section {
    padding: 5.6rem 5% 3%;
  }
}
@media only screen and (max-width: 460px) {
  html {
    font-size: 80%;
  }
  .department-list {
    display: block;
  }
  .department {
    padding: 0.1rem 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
  }
  .department a {
    border-radius: 9px;
    padding: 1.3rem 1rem;
  }
  .forth-footer-section ul {
    width: 100%;
  }
  .forth-footer-section ul li {
    margin-right: 30%;
    margin-bottom: 5%;
  }
  .forth-footer-section div {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  .forth-footer-section div p {
    margin-bottom: 5%;
  }

  .department-title-box h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 376px) {
  html {
    font-size: 75%;
  }
  .department-title-box h2 {
    font-size: 1.3rem;
  }
  .lastfooter-left a {
    margin: 0rem 2vw 0 0;
  }
}
