#introloader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background:white;
    z-index: 1000000000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    flex-direction: column;
}

#introloader h1{
    
    
    position: relative;
    display: flex;
}

#introloader h1 span {
    display: inline-block;
    font-size: 5rem;
    color: rgb(13, 113, 207) !important;
    font-weight: 800;
    font-style: normal;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
}


.loading-text {
    font-size: 2rem;
    color: #313131;
    font-weight: 500;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width : 884px) {
    #introloader h1 span {
     
        font-size: 7rem ;
       
    }
    .loading-text {
        font-size: 1.8rem;
      
    
    }
    
 
}
@media (max-width : 668px) {
    #introloader h1 span {
     
        font-size: 5rem ;
       
    }
    
}
@media (max-width : 500px) {
    #introloader h1 span {
     
        font-size: 12vw ;
       
    }
    .loading-text {
        font-size: 1.4rem;
      
    
    }
    .circle {
        width: 40px;
        height: 40px;
    }
    
}
@media (max-width : 300px) {
    #introloader h1 span {
     
        font-size: 12vw ;
       
    }
    
}