#profile{
    /* min-height: 100svh; */
    width: 100%;
    background-color: var(--backcolor);
    display: flex;
    justify-content: center;
    padding-top: 5.84rem;
   
    
    
}
.profile-outer-box{
    height: 100%;
    width: 90vw;
    display:flex;
    justify-content: space-between;
    gap: 1.4rem;
}

.profile-left-inner-box{
    width: 70%;
    position: relative;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--pagecolor);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.19),inset 9px 9px 50px rgba(255, 255, 255, 0.832),inset -9px -9px 50px rgba(111, 111, 111, 0.163);
    
}

.profile-info{
    position: relative;
    overflow: hidden;
}
.upperstyle{
    height: 50%;
    width: 120%;
    border-radius: 50%;
    position: absolute;
    top: -33%;
    left: -35%;
    background-color: rgba(191, 212, 252, 0.337);
    z-index: 0;
}
.profile-photoes{   
    width: 100%;
}
.profile-main-photo-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.profile-main-photo{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    /* background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvHnbkXhPR46iJHQK3-n1g_jsjeQurfxSuPQ&s') no-repeat center center/cover; */
    position:relative;
    /* outline-offset: 0.1rem; */
    outline : 3px solid #29b971 !important;
   
    
  
}
.profile-main-photo-img-box{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.profile-main-photo img{
    aspect-ratio: 1/1;
    object-fit:contain;
    height: 13rem;
    position:relative;
    transform: translateY(10%);
   
}
.profile-main-photo-subpart{
    height: 3rem;
    width: 3rem;
    background-color: #29c966;
    position: absolute;
    border-radius: 50%;
    right : -2%;
    bottom: 0%;
    border: 0.31rem solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}




.profile-main-photo-box h2{
    font-size: 1.8rem;
    padding: 01.5rem 0 0.4rem 0;
    z-index: 1;
    
}
.profile-main-photo-box h3{
    font-size: 0.75rem;
    padding: 1.2rem 0 0.9rem;
    z-index: 1;
   

}
.profile-main-photo-box h3 i{
    padding-right: 0.5rem;
}
.profile-downupload-info{
    width: 80%;
    height: 5rem;
    margin: auto;
    text-align: center;
}
/* .downupload{
    text-align: center;
    z-index: 1;

} */

 /* .profile-downupload-info h5{
    font-size: 1.2rem;
    font-weight: 600;
} */
.profile-downupload-info h4{
    font-size: 1.8rem;
    font-weight: 400;
    margin: 1rem 0;
} 
.pdfupload{
    width: 100%;
    text-align: center;

}
/* .pdfupload button{
    border: none;
    font-weight: 600;
    padding: 0.5rem 0.9rem;
    border:0.2rem solid #5a7d828a;
    border-radius: 1.3rem;
    font-size: 1rem;
    margin: 0rem 1rem;
} */
.pdfupload input{
        width: 8rem;
        position: relative;
        padding: 0.6rem  0rem;
        border-radius: 0.2rem;
}
.pdfupload input::before{
        content: 'Send Papers';
        font-size: 1rem;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4B97D5;
        color: #fff;
        
}

.filterselect{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.829);
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.filterselect-option{
    background-color: rgb(238, 238, 238);
    padding: 1rem 2rem;
    height: 100%;
    width: 100%;


}
.filterselct-option-box{
   
    display: flex;
}
.leftfilter-select{
    height: 100%;
    text-align: left;
    width: 50%;
}
.leftfilter-select h2{
    font-size: 1.4rem;
    margin:  1rem 0;
    font-weight: 500;
}
.leftfilter-select p{
    color: red;
}
.leftfilter-select-item{
    display: flex;
}
.leftfilter-select input{
    width: 90%;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding: 01rem 1rem;
    font-size: 1rem;
    border: 2px solid rgba(88, 101, 108, 0.178);
}

.leftfilter-select-item select{
    padding: 01rem 1rem;
    font-size: 1rem;
    outline: none;
    border-radius: 0.5rem;
    border: none;
    border: 2px solid ;
    border-color: rgba(88, 101, 108, 0.178)rgba(88, 101, 108, 0.178);
    width: 90%;
}

.filterselect-option{
    position: relative;
}
.filterselect-option .fa-xmark{
    position: absolute;
    right: 4%;
    top: 4%;
    font-size: 2rem;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7500%) hue-rotate(217deg) brightness(108%) contrast(108%);
}
.filterselect-option button{
    margin: 5rem 0 0 0;
    border: none;
    outline: none;
    background: blue;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
    color: #fff;
}
.rightfilter-select{
    height: 100%;
    width: 50%;
}
.right-file-box{
    text-align: left;
   margin: 1rem 0.4rem;
   font-size: 1.3rem;
   overflow-x: hidden;
  
}
.right-file-box li{
     margin: 0.5rem  0.1rem 0.5rem 3rem ;
   font-size: 0.9rem;
   list-style: circle;
   text-wrap: wrap;
   
   
   
}
.right-file-box ul i{
  filter: brightness(0) saturate(100%) invert(83%) sepia(30%) saturate(7448%) hue-rotate(55deg) brightness(98%) contrast(110%);
   
}
.right-file-logo-box{
    width: 100%;
    margin-top: 5rem;
}
.right-file-logo-box i:first-child{
    font-size: 12rem;
}
.right-file-logo-box h2{
    margin: 1rem 0;
    font-weight: 500;
}
.pdfupload button:last-child{
    cursor: pointer;
}
.pdfupload i{
    padding-left: 0.9rem;
}
.recent-work{
    /* height: 20vw; */
    margin: 4rem 0 7rem 0;
}
.recent-work h3{
    font-size: 1.5rem;
    justify-self: flex-end;
    padding: 0px 1rem 1.8rem 0;
    font-weight: 500;
}
.recent-work-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.recent{
    background-color: rgb(255 255 255 / 38%);
    border: 2px solid #efefef;
    border-radius: 0.2rem;
    flex-grow: 1;
    width: 100%;
    /* flex-basis:240px; */
    height: 200px;
    padding: 1rem;
    color: #000;
    overflow-y: scroll;
    overflow-x: hidden;
    
    
}
.recent::-webkit-scrollbar {
    width: 10px;
    right: 0px;
 
  }
  
.recent li{
 text-wrap: wrap;
 padding: 0.5rem 0.4rem;
 box-shadow: 2px 2px 4px rgb(152, 164, 170);
 margin: 0.5rem 0rem;
}
.recent li:hover{
background-color: rgb(240, 244, 254);

}
.recent li a{
 text-wrap: wrap;
overflow: hidden; 
}
/* .recent-download{
    width: 50%; 
     height: 100%; 
    
}
.recent-upload{
     width: 50%;
     height: 100%; 
} */
.profile-client-info {
    border-radius: 0.2rem;
    /* border: 2px solid #104a5f2e; */
    margin: 0rem 3rem 0.2rem;
    padding: 0rem 1rem;
  
   
}
.profile-client-info h3{
    font-size: 1.5rem;
    margin: 2rem 0 2rem 0;
    font-weight: 600;
   display: flex;
   align-items: center;
   cursor: pointer;
   
}
.profile-client-info h3 i{
 padding: 0rem 01rem 0rem 0rem;
 transition:  all 0.5s ease;
 transform:  translateY(-10%);
}
.profile-client-info  .shut-right{
    transform: rotate(270deg) translateX(23%);
    
}

.client-info-name{
    margin: 0 0 2rem 0;
   
}
.forwrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 1rem;
    width: 100%;
}


.client-info-name{
    width: 50%;
}

.client-info-name h4{
    font-size: 1.1rem;
    margin: 0 0 0.5rem 0;
}
.forwrap-out{
    max-height: 100vh;
    transition: all 0.5s ease;


}
.info-true{
    max-height: 100vh;
}
.info-false{
    max-height: 0vh;
}
.client-info-name-inside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 1rem;
    background-color: rgb(202 200 247 / 32%);
    border-radius: 0.3rem;
    font-size: 0.95rem;
    /* box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.13),inset 9px 9px 50px rgba(255, 255, 255, 0.832),inset -9px -9px 50px rgba(111, 111, 111, 0.163); */
}
.client-info-name-inside h5{
    cursor: pointer;
}
.client-info-name-inside h5 i{
    padding-left: 0.3rem 0.6rem;
    margin:  0 0 0 0.2rem;
}
.profile-client-info .edit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

.edit button{
    padding: 0.5rem 1.1rem;
    border: none;
    border: 0.1rem solid #5a7d828a ;
    font-size: 0.9rem;
    border-radius: 01.6rem;
    cursor: pointer;
    font-weight: 400;
    background-color: rgb(75, 151, 213) ;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.edit button:hover{
    background-color: #fff;
    transform: scale(0.9);
    color: #000;
    
}
.edit button:hover i{
    filter: brightness(0);
}
.edit button i{
    padding: 0 0 0 0.3rem ;
    filter: brightness(10);
}

.profile-right-inner-box{
    width: 30%;
    background-color:var(--pagecolor);
    box-shadow: 9px 9px 25px rgba(0, 0, 0, 0.119);
    padding: 1.5rem 0.5rem;
    border-radius: 1rem 1rem 0 0;
} 
.latest-updates{
    height: 100%;
    width: 100%;
}
.latest-updates h2{
    font-size: 1.3rem;
}
.latest-updates-files{
    margin-top:2rem;
}
.latest-updates-files-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 0;    
}
.latest-updates-files-text i{
    font-size: 1.4rem;
}
.latest-updates-files h3{
    font-size: 1.1rem;
}

 .files-items{
        width: 100%; 
      /* height: 30vw; */
        height  : 40rem;
        border-radius:1rem;
        overflow:scroll;
        padding: 0.5rem 1.4rem;
        background-color: #fff;
        cursor: pointer;
    }
.files-items::-webkit-scrollbar{
    display: none; 
  }
  .files-items p{
    padding: 0.8rem 0;
}


/* Universer variable */
.profilecontain{
    padding: 0 3rem;
}   
@media (max-width:1014px) {
   .upperstyle{
    top: -37%;
   }
 
   
}

@media (min-width:941px) {
    html{
        font-size: 95%;
    }
}
@media (max-width:940px) {
    html{
        font-size: 78%;
    }
   .departmentprofile{
    white-space: nowrap;
   }
 
   
}
@media (max-width:747px) {
    html{
        font-size: 70%;
    }
    .upperstyle{
        height: 48%;
        width: 190%;
        top: -37%;
        left: -90%;
    
    }
    .profile-right-inner-box{
       display: none;
    }   
    .profile-left-inner-box{
        width: 100%;
    }
    .forwrap{
        flex-wrap: wrap;
     }
     .client-info-name{
         width: 100%;
     }
     .filterselct-option-box{
        flex-direction: column;
     }
     .leftfilter-select{
        width: 100%;
     }
     .rightfilter-select{
        width: 100%;
     }
     .right-file-logo-box i:first-child{
        display: none;
    }
   
}
@media (max-width:547px) {
    html{
        font-size: 65%;
    }
    .filterselect-option .fa-xmark{
        top: 1%;
        right: 5%;
    }
    .leftfilter-select h2{
        margin:  3rem 0 0 1rem;
    }
    .filterselect-option button{
        margin: 2rem 0 0 0;
    }
    .profilecontain {
        padding: 0rem 0.6rem;
    }
}
@media (max-width:437px) {
    html{
        font-size: 75%;
    }
    .upperstyle{
        height: 48%;
        width: 190%;
        top: -37%;
        left: -90%;
    
    }
    .profile-left-inner-box{
        width: 100%;
        background-color: var(--backcolor);
        box-shadow: none;
    }
    .profile-outer-box{
        width: 100vw;
    }
    
}
@media (max-width:360px) {
    html{
        font-size: 54%;
    }
    .upperstyle{
        height: 48%;
        width: 134%;
    }

}
@media (max-width:332px) {
    html{
        font-size: 4.1;
    }
}
@media (max-width:281px) {
    html{
        font-size: 3.6vw;
    }
    .upperstyle{
        height: 50%;
        width: 166%;
        left: -70%;
    
    }
}
@media (max-width:188px) {
    .profile-outer-box{
        width: 90vw;
    }
    html{
        font-size:4vw;
    }
}
@media (max-width:150px) {
    .profile-outer-box{
        width: 80vw;
    }
    html{
        font-size: 3vw;
    }
}