.capta-box{
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100000000000000;
}
.capta-box h1{
  font-size: 1.7rem;
  text-align: center;
}
.capta-box-p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.capta-box-p p{
   font-size: 1rem;
}
.capta-box-p box-icon {
    transform: translateY(26%); /* Moves the icon 20px to the right and 10px down */
  }