#admin{
    background-color: #eaeaea;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 100;
}
.admin-box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.admin-nav{
    width: 100%;
    height: 8%;
    background-color: #009bb7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    -webkit-box-shadow: 1px 16px 74px 18px rgba(105,105,105,1);
    -moz-box-shadow: 1px 16px 74px 18px rgba(105,105,105,1);
    box-shadow: 1px 16px 74px 18px rgba(105,105,105,1);
    
    
}
.admin-nav h2{
   font-size: 1.4rem;
   color: #fff;
}

.admin-nav select{
   border-style: none;
   outline: none;
   background-color: #009bb7;
   font-size: 1.2rem;
   color: #fff;
}
.admin-nav select option{
    font-size: 1rem;
   color: #fff;
   padding: 0.4rem 1rem;
}
.admin-box{
    width: 100%;
    height: 92%;
    position: relative;
}
.admin-left-box{
    height: 100%;
    width: 20%;
    /* border-right: 0.2rem solid #6a798319; */
    background-color: rgb(0 61 98);
   
    color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* padding:0.5rem 1rem 0; */
}
.admin-left-box h2{
    background: linear-gradient(to bottom, rgb(12 96 138), rgb(27 29 43 / 49%));
    color: #fff;
    font-size: 01.2rem;
    font-weight: 600; 
    /* border-bottom: 2px solid rgba(199, 199, 202, 0.237);   */
    letter-spacing: 0.05rem;
    padding: 1.5rem 2rem ;
    cursor: pointer;
    &:hover{
        background: linear-gradient(to bottom, rgb(56, 101, 130), rgb(5 27 58));
    }
   
}
.admin-left-box a{
    text-decoration: none;
}
.admin-left-box a i{
 color: #fff;
 padding: 0rem 1rem;
}
.admin-right-box{
    height: 100%;
    width: 80%;
    background-color: rgb(245, 245, 245);
    /* padding: 1.3rem 2rem ; */
}

@media (max-width : 880px) {
    .admin-left-box{
        display: none;
    }
    .admin-left-box h2{
       font-size: 0.9rem;
    }
    .admin-right-box{
        width: 100%;
    }
    #dashboard {
        padding: 1.3rem 0 1.3rem 0rem;
    }
}
@media (max-width : 540px) {
    .admin-nav h2:nth-child(2),.admin-nav select{
        display: none;
    }

    .admin-nav h2:nth-child(1){
        font-size: 1.3rem;
    }
}
@media (max-width : 312px) {
    .admin-nav h2:nth-child(1){
        font-size: 5vw;
    }
}

