#download-pdf{
    min-height: 70vh;
    min-height: 70svh;
    min-height: 70lvh;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background: rgb(242 244 246);
    z-index: 100;
    color: #000;
}
#download-pdf header{
    width: 100%;
    background: rgb(252 252 252);
    box-shadow: 2px 2px 10px #4a72c71e !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: lightblue; */
    align-items: center;
    height: 5rem;
}
#download-pdf header h1{
    font-size: 2rem ;
    user-select: none;
    /* padding: 1rem ; */
    font-weight: 600;
    color: rgb(0, 145, 255);
}
#download-pdf header sub{
    font-size: 0.5rem ;
    user-select: none;
    font-weight: 600;
    color: rgb(0, 145, 255);
}
.back-to-filter {
    /* box-shadow: 2px 2px 10px #4a72c71e; */
    /* background-color: rgb(0, 145, 255); */
    padding: 0rem 2rem;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition:all  0.2s  ease;
   
}
.back-to-filter:hover {
    background-color: rgb(10, 126, 214);
    
    cursor: pointer;
    
}
.back-to-filter i{
    font-size: 1.5rem ;
    width: 100%;
    align-items: center;
    transition: all 0.2s  ease;
    color: #000;
}

.back-to-filter:hover i {
    color: #fff; /* Change to white on hover */
}
.search-resuorces{
    margin: 0rem 0;
   width: 100%;
   transform: translateY(-100%) scale(0);
   transition: all  0.4s ease;
   opacity: 0;
}

.search-resuorces input{
  width: 100%;
  box-shadow: 12px 7px 7px #4a72c71e ,inset 12px 7px 9px  rgba(255, 255, 255, 0.071);
  outline: none;
  border: none;
  border-radius: 0.2rem;
  padding: 1rem;
  transition:  all 0.2s ease;
   
}
.search-resuorces input:active{
 transform: scale(1.02);
   
}

.download-box{
    min-height:35rem;
    width: 60rem;
    /* background: var(--uniqcolorup);
    box-shadow: var(--boxshadow); */
    border-radius: 0.4rem;
    z-index: 10;
    padding: 2rem 1rem;
    
    
    
}
.download-box h2{
   font-size: 1.5rem;
   font-weight: 600;
   color: #474747;
   /* text-align: center; */
}

.download-data {
    margin: 2rem 0 ;
    transition: all 0.4s ease;
}
.download-data li {
    
    color: #000;
    padding: 0rem 0rem 0rem  1.5rem;
    box-shadow: 12px 7px 7px #4a72c71e ,inset 12px 7px 9px  rgba(255, 255, 255, 0.071);
    background: rgb(252 252 252);
    border-radius: 0.2rem;
   margin: 1rem 0;
    display: block;
    transition: all 0.2s ease;
}
.download-data li:hover {
    background: rgb(59, 203, 255);
 transform: scale(1.01);
}

.download-data li:active {
    
 transform: scale(1.01);
}
.download-data .each-paper-box{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem 0;
    cursor: pointer;

}
.download-data li:hover .each-paper-box{
    color: #fff;
    }

.download-data .paper-downlon-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 145, 255);
  padding: 1rem 0;
  border-radius: 0.2rem 0 0 0.2rem;

}
.download-data .each-paper-box i{
    color: #fff;
    padding:0rem 1rem;
    text-align: center;
    width: 3rem;
}
.download-data p{
    color: #fff;
    text-align: center;
}
.name-instruction{
    margin: 5rem 0 2rem;
}
.name-instruction h3{
    font-size: 1.1rem;
    font-weight: 600;
    color: #474747;
    font-style: italic;
    color: rgb(0, 145, 255);
}
.name-instruction p{
   
   margin: 1rem 1rem 0;
   font-style: italic;
 }
 #download-pdf iframe{
    width: 80%;
    height: 80%;
 }
 #download-pdf .iframe{
    transition: all 0.2s linear;
 }

 .donation-popup{
    position: fixed;
    left: 0%;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.459);
    z-index: 1001;
    height: 100%;
    width: 100%;
 }
 .donation-popup-box{
    padding: 5rem 5rem;
    min-height: 30rem;
 
    width: 60rem;
    border-radius: 0.3rem;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    transform: scale(0.9);

 }
 .donation-popup-box h1{
    font-weight: 600;
   font-size: 3rem;
   color: #247bef;
   /* text-align: center; */
 }
 .donation-popup-box span{
    /* text-align: center; */
    margin: 1rem 0;
    font-weight: 500;
    
 }
 .donation-popup-box button{
    border: none;
    background-color: #247bef;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1rem 2rem;
    color: #fff;
    cursor: pointer;
    margin-top: 4rem;
 }
 .donation-popup-box p{
   margin-top: 1rem;
   font-size: 1.1rem;
   cursor: pointer;
   font-weight: 500;
   text-decoration: underline;
 }

@media (max-width : 780px) {
    .download-box{
        width: 100vw;
    }
    
}
@media (max-width : 550px) {
    .download-box h2{
        font-size: 1.4rem;
     }
     .download-data .each-paper-box{
        font-size: 1rem;
    
    }
    .donation-popup-box h1{
    
       font-size: 2rem;
      
     }
    #download-pdf iframe{
        width: 100%;
        height: 100%;
     }
     .donation-popup-box{
        padding: 5rem 3rem;
     
    
     }
}

