#message-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #2e8b8d; */
    background: linear-gradient(to left, #aec4ef,#2e8b8d);
    text-align: center;
    padding: 2rem 1rem;
    font-size: 1rem;
    flex-direction: column;
}
#message-box h3,#message-box h3 s,#message-box h3 b{
 
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;  
    line-height: 2rem;
    color: #fff;
}
#message-box h3 s{
    font-size: 0.9rem;
}
#message-box h3 b{
    font-size: 0.8rem;
}
#message-box button{
    outline: none;
    border: none;
    margin-top: 0.9rem;
    padding:  0.4rem 1rem;
    background: linear-gradient(45deg, #fffefe, #438ee2);
    cursor: pointer;
    color: #000;
    
}