.filter-main-div {
  padding: 7% 0%;
}
::-webkit-inner-spin-button {
  display: none;
}
.first-filteration{
    width: 45%;
}
.second-filteration{
    width: 45%;
}
.filteration-container {
  display: flex;
  justify-content:space-between;
  padding: 0% 20%;
}
.department-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10% 0%;
}
.ug-box,
.pg-box {
  border: 2px solid gray;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 150px;
  margin: 5% 0%;
  border: none;
  background-color: white;
  font-size: 23px;
  box-shadow: 0.5px 0.5px 30px 0.5px gray;
}

.ug-box:hover,
.pg-box:hover {
  background: linear-gradient(black, rgb(74, 143, 200));
  color: white;
}
.department-type {
  margin: 10% 0%;
  display: flex;
  justify-content: center;
}
.department-name {
  width: 100%;
  padding-left: 5%;
  border-radius: 9px;
  border: 1px solid gray;
}
.department-name input[type="text"] {
  width: 70%;
  padding: 4%;
  outline: none;
  border: none;
  background-color: transparent;
}
.department-year ul {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}
.department-year ul li {
  border: 1px solid gray;
  padding: 3% 8%;
  border-radius: 14px;
  margin: 2%;
  font-weight: 600;
}
.department-year ul li:hover {
  background: linear-gradient(rgb(58, 55, 55), rgb(28, 154, 222));
  color: white;
}
.year-to-year {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  margin: 7% 0%;
}
.hr {
  width: 8%;
  height: 1%;
  border: 1px solid gray;
}
.year-div {
  border: 2px solid gray;
  height: 50px;
  border-radius: 14px;
  width: 40%;
}
.year-div input[type="number"] {
  padding: 2% 0%;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}
.subjects {
  padding: 5% 0%;
}
.subject {
  padding: 3% 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check-paper {
  display: flex;
  align-items: center;
  padding: 7% 0%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.paper-border {
  border: 1px solid black;
  width: 1%;
  height: 30px;
}
.first-paper {
  border-right: 2px solid gray;
}
.first-paper,
.second-paper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
  width: 50%;
}
.first-paper div,
.second-paper div {
  border: 2px solid gray;
  padding: 5% 10%;
  border-radius: 9px;
  font-size: 14px;
}
@media only screen and (max-width: 895px) {
  .ug-box,
  .pg-box {
    box-shadow: 0.5px 0.5px 10px 0.5px gray;
  }
  .filteration-container {
    padding: 0% 5%;
  }
}
@media only screen and (max-width: 435px) {
  .ug-box,
  .pg-box {
    box-shadow: 0.5px 0.5px 30px 0.5px gray;
  }
  .first-filteration{
    width: 100%;
}
.second-filteration{
    width: 100%;
}
  .filteration-container {
    flex-direction: column;
  }
}
