#reset-password{
   min-height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--backcolor);

}
.reset-password-box{
    width: 40rem;
    border: 2px solid rgba(134, 134, 134, 0.095);
    padding: 2rem 1rem;
    border-radius: 0.2rem ;
    
}
.reset-password-box h2{
    text-align: center;
    font-size: 1.9rem;
}
.reset-password-box form{
    margin: 2rem 0 0 0;
}
.reset-password-box input{
    width: 100%;
    padding: 1rem 2rem;
    outline-offset: 0.25rem;
   outline-color: rgb(178, 180, 232) ;
    border: none;
    border: 2px solid rgba(151, 168, 224, 0.41);
    margin: 1rem 0;
    border-radius: 0.2rem;
    font-size: 1rem;

}
.reset-password-box button[type = 'submit']{
    width: 100%;
    border: none;
    outline: none;
    background-color: #4B97D5;;
    color: #fff;
    padding: 0.8rem 0;
    cursor: pointer;
    font-size: 1rem;

}
.reset-password-box hr{
    margin: 3rem 0;
}
.reset-password-box .reset-btn{
    width: 100%;
    padding: 0.8rem 3rem;
    border: none;
    overflow: none;
    border: 2px solid rgba(128, 128, 128, 0.374);
    border-radius: 0.2rem;
    font-size: 1.1rem;
    cursor: pointer;
}
.backto-log-in{
    width: 40rem;
    padding: 2rem 2rem;
    font-size: 1.5rem;
    border: 2px solid rgba(134, 134, 134, 0.095);
    
}
.backto-log-in button{
    border: none;
    outline: none;
    background-color: #4B97D5;;
    color: #fff;
    padding: 0.8rem 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}