#signup{
  height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--backcolor);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1001;
}

.signup-form{
    min-height: 400px;
    width: 500px;
    border-radius: 8px;
    border: 2px solid rgb(214 214 214);
    background-color: var(--pagecolor);
    padding: 0.9rem 1.8rem;  
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.19),inset 9px 9px 50px rgba(255, 255, 255, 0.832),inset -9px -9px 50px rgba(111, 111, 111, 0.163);
}

.signup-form .singup-form-input{
    width: 100%;
    padding: 0.69rem 0.1rem;
    border: none;
    border-bottom: 0.4px solid black;
    margin-bottom: 1.3rem;
    font-size: 0.83rem;
    background-color:transparent;
    font-size: 1.1rem;
   
}
.signup-form .singup-form-input[type = 'email']{
    margin: 0.5rem;
   
}

.signup-form label{    
    letter-spacing: 0.1px;
    font-weight: 600;
    font-size: 1.1rem;
}
.signup-form input{
  outline: none;
}

.signup-form h2{
    font-size: 4em;
    font-weight: 500;
    text-align: left;
}
.name-box{
    padding: 2.5rem 0px 0.5rem 0px;
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

#rollno{
    margin-bottom: 1.3rem;
}
.sigup-password-box{
  display: flex;
  justify-content: space-between;
  gap: 3%;
}
.signup-btn{  
    display: block;
    margin: auto;   
    width: 100%; 
    padding: 0.7rem 1.4rem;
    border:none;
    background-color: rgb(75, 151, 213);
    border-radius: 0.2rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 5%;
    color: #fff;
}
.already-account p{
  text-align: center;
  font-size: 1rem;
}
.already-account a{
  display: block;
  text-align: center;
  font-weight: 600;
    color: #0053b7;
}
@media (max-width: 600px) {
    .signup-form {
      width: 400px;
    }
    #signup{
      height: 100svh;
    }
  }
@media (max-width: 431px) {
  .signup-form{
    background-color: var(--backcolor);
    border: none;
    
    box-shadow: none;
}
  }
  @media (max-width:460px) {
    .signup-form {
        width: 325px;
        transform: translateY(-1%);
        width: 90vw;
      }
      
      html{
        font-size: 75%;
    }
  
  }

  @media (max-width:220px) {
    .signup-form {
        width: 225px;
        
      }
  
      html{
        font-size: 70%;
    }
  }
  @media (max-width:150px) {
  
      html{
        font-size: 40%;
    }
  }
